app/CanvasApps/src/chub_dtpreviewhubdataversedev_752ff/pkgs/Wadl/ReviewHub-LaunchExcelFile.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://msmanaged-na.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="ReviewHub-LaunchExcelFile" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Review Hub - Launch Excel File" />
  <grammars>
    <jsonTypes targetNamespace="https://msmanaged-na.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_ReviewType_Value_def" />
      <string name="ManualTriggerInput_ActionType_Value_def" />
      <string name="ManualTriggerInput_MetricTypeCollection_Content_def" />
      <object name="ManualTriggerInput">
        <property name="ReviewType_Value" type="string" />
        <property name="ActionType_Value" type="string" />
        <property name="MetricTypeCollection_Content" type="string" />
      </object>
      <string name="ResponseActionOutput_sharablelink_def" />
      <string name="ResponseActionOutput_path_def" />
      <string name="ResponseActionOutput_filename_def" />
      <object name="ResponseActionOutput">
        <property name="sharablelink" type="string" />
        <property name="path" type="string" />
        <property name="filename" type="string" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://msmanaged-na.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="ReviewType_Value" path="/ReviewType_Value" type="xs:string" required="true" />
            <param style="plain" name="ActionType_Value" path="/ActionType_Value" type="xs:string" required="true" />
            <param style="plain" name="MetricTypeCollection_Content" path="/MetricTypeCollection_Content" type="xs:string" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>